*.ipch
*.db
*.vsidx
.vs/sdlwinquake/v17/.suo
*.json
*.m4
*.user
*.obj
*.sbr
*.tlog
*.bsc
*.exe
*.recipe
*.ilk
*.pdb
*.res
*.log
WinQuake/Debug/WinQuakeVS2022.vcxproj.FileListAbsolute.txt
*.opendb
*.db-wal
*.db-shm
/WinQuake/.vs
